.viewAll {
    padding: 2rem 1rem;
}

.task, .forms {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.newTask {
    justify-content: center;
}

.item {
   width: fit-content;
   align-self: center;
   margin: 1v;
}

.here {
    text-decoration: underline;
    text-decoration-color: orange;
    max-width: 50vw;
}

.task span {
    width: 60vw;
}

.task .forms {
    width: 40vw;
}

@media screen and (max-width : 400px) {
    .forms {
        flex-direction: column;
    }

    .item {
        margin: 2vw;
    }
}
